<!DOCTYPE html>
<html ng-app="myapp">
<head>
<script src="/angular.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/1.2.1/lodash.min.js"></script>
<script src="myscript.js"></script>
<meta charset=utf-8 />
<title>JS Bin</title>
  
  </head>
  
<body ng-controller="MyApp">

	<h1>My Demo With filter</h1>
	<div ng-repeat="Maindata in myFilteredKey" class="">
		<h2>{{Maindata}}</h2>
		<div ng-repeat="item in data | filter:{'key':Maindata}">
			<p>My key is {{item.key}}</p>
			<p>My val is {{item.value}}</p>
		</div>
	
	</div>
	
	
	
  
</body>
</html>