<style type="text/css">
	.displayBlock{display:block}
	.displayNone{display:none}
</style>

<div ng-controller="page1ctrl">
	

	<p ng-click="mytoggle()">
		Click To Toggle	
	</p>
	
	<div  class="display{{myboolean}}" >
		<p>In Page One Part11111111</p>
		<p>In Page One Part11111111</p>
		<p>In Page One Part11111111</p>
		<p>In Page One Part11111111</p>
		<p>In Page One Part11111111</p>
		<p>In Page One Part11111111</p>
		<p>In Page One Part11111111</p>
		<p>In Page One Part11111111</p>
		<p>In Page One Part11111111</p>
		<p>In Page One Part11111111</p>
		<p>In Page One Part11111111</p>
		<p>In Page One Part11111111</p>
		<p>In Page One Part11111111</p>
	</div>
	
	Think in Angular way
	
	
	<div  class="display{{myboolean}}" >
		<p>In Page One Part22222222</p>
		<p>In Page One Part22222222</p>
		<p>In Page One Part22222222</p>
		<p>In Page One Part22222222</p>
		<p>In Page One Part22222222</p>
		<p>In Page One Part22222222</p>
		<p>In Page One Part22222222</p>
		<p>In Page One Part22222222</p>
		<p>In Page One Part22222222</p>
		<p>In Page One Part22222222</p>
		<p>In Page One Part22222222</p>
		<p>In Page One Part22222222</p>
		<p>In Page One Part22222222</p>
	</div>
</div>

